.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
  }
  
  .nav-item {
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background-color: #555;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: #777; /* Hover effect for background color */
  }
  